@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.custom-toggler{
    border-color: white !important;
    outline: none !important;
    box-shadow: none !important;

}

.custom-icon{
    color: white;
}

.cc:hover{
    color: #8dc63f !important;
}

.ba:hover{
    color: #63d7fb !important;
}

.gs{
    background-color: #ff4669;
    padding: 2px 25px;
    border: none;
    border-radius: 5px;
    transition: .3s;
    outline: none;
}